progetto/compilatiAC/main
progetto/.vscode/ipch/4b554034ff78effe/main.ipch
progetto/.vscode/ipch/1380099e96f349e6/mmap_address.bin
progetto/.vscode/ipch/4b554034ff78effe/main.ipch
progetto/.vscode/ipch/4b554034ff78effe/main.ipch
progetto/.vscode/settings.json
