progetto/compilati*
progetto/.vscode/*
progetto/pqnn32c
progetto/pqnn32.o
.vscode/*
.vscode/ipch/*
progetto/pqnn32c.o
.vscode/ipch/a199ae427399f8b8/pqnn32c.ipch
progetto/pqnn32c.o
.vscode/ipch/a199ae427399f8b8/pqnn32c.ipch
